@{
    ViewBag.Title = "Home";
}



<div id="CV">
    <h1 id="curriculum">CURRICUM VITAE</h1>
    <br />
    <br />
    <h3>Walter Mendez Salas</h3>
    <img id="img" src="~/Content/themes/base/images/10.jpg"  alt="Alternate Text" />
    <br />
    <br />

    <div id="personalInformation">
        <h3>Personal Information</h3>
        <h5>250 M SurOeste de la delegacion de los Angeles <br />
                La Fortuna, San Carlos</h5>
        <h5>
            Telephones: <br />
            2469-2127
            8804-5234    
        </h5>
        <h5>Estado Civil: Soltero</h5>
        <h5>Nacionalidad: Costarricense</h5>
        <h5>Lugar de Nacimiento: Ciudad Quesada, San Carlos</h5>
        <h5>Fecha de Nacimiento: 01 de Octubre de 1991</h5>

    </div>
    <br />
    <div id="education">
        <h3>Educacion</h3>
        <h5>2003 Titulo en Educacion Basica en Escuela de los Angeles, La Fortuna </h5>
        <h5>2005 Titulo de Educacion III Ciclo en Liceo Bilingue Los Angeles, La Fortuna</h5>
        <h5>2008 Titulo de Bachillerato en Liceo Bilingue Los Angeles, La Fortuna</h5>
    </div>
    <br />
    <div id="experienceJob">
        <h3>Experience Job</h3>
        <h5>Laboro desde Agosto de 2010 para la Empresa BYC Exportadores del Valle de Uarras</h5>
    </div>



</div>
